.title {
  text-align: center;
  color: brown;
}

.MuiPaper-root{
  padding: 50px 100px;
}

.Carousel-root-1{
  max-width: 1280px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}